.nav-over {
    background-color: #FFF15A;
}

.formnav {
    background-color: white;
}

.colorLetras {
    color: #8B781A;
}

.menu-vertical {
    background-color: #F5F5F5;
}

.letrasNegras {
    color: black;
}

.ocultarSection {
    display: none;
}

.locate-correct {
    margin-top: -300px;
    margin-left: 200px;
}

.marButtomSection {
    margin-bottom: 50px;
}

.letrasBlancas {
    color: white;
}

#sectionCardsFoot {
    margin-top: 20px;
    margin-bottom: 150px;
}